---
- name: Include the Packages for each OS
  include_vars: "{{ ansible_os_family }}.yml"

- name: Install Extra Packages
  package:
    name: "{{ dhcpd_package_list }}"
    state: present
  become: true

- name: Install configuration file
  template:
    src: dhcpd.conf.j2
    dest: "{{ dhcpd_config_dir }}/dhcpd.conf"
    owner: root
    group: root
    mode: 0644
    validate: 'dhcpd -t -cf %s'
  become: true
  notify: restart dhcpd

- name: Enable dhcpd
  service:
    name: "{{ dhcpd_service }}"
    state: started
    enabled: true
  become: true

- name: Update Defaults to only IPV4
  lineinfile:
    dest: /etc/default/isc-dhcp-server
    line: 'INTERFACESv4="{{ ansible_default_ipv4.interface }}"'
    regexp: '^INTERFACESv4='
  become: true
